html {
  font-size: 10px;
}
body {
  box-sizing: border-box;
  height: auto;
  width: 400px;
  padding: 10px 20px;
  background: #202020; /* fallback for old browsers */
  color: #e5e5e5;
}
/* LOADER */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px solid transparent;
  border-top-color: #f36c7d;
}

.loader:before {
  z-index: 100;
  animation: spin 1s infinite;
}

.loader:after {
  border: 10px solid #e5e5e5;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* HAPPY PATH */

.container {
  display: none;
  flex-direction: column;
  /* gap shouldn't be at the ends */
}

.stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}

.duration {
  display: flex;
  flex-direction: column;
}
.time-remaining {
  margin-bottom: 2rem;
  font-weight: bold;
  color: #fbcbd1;
  font-size: 1.6rem;
}
.progress-bar {
  display: flex;
  flex-direction: column;
}
.progress-bar-total {
  height: 10px;
  background-color: #fff;
}
.progress-bar-completed {
  background-color: #f36c7d;
  height: 10px;
}
.progress-bar-text {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}
.error-text {
  font-size: 1.2rem;
}
