<!doctype html>
<html style="min-height:auto">

<head>
    <title>Playlist Statistics
    </title>
    <link rel="stylesheet" href="popup.css">
</head>

<body>
    <div class="loader"></div>
    <div class="container">
        <div class="error-text text"></div>
        <div class="stats">
            <div class="video-count text"></div>
            <div class="video-avg text"></div>
        </div>
        <div class="duration">
            <div class="time-remaining text"></div>
            <div class="progress-bar">
                <div class="progress-bar-total">
                    <div class="progress-bar-completed"></div>
                </div>
                <div class="progress-bar-text">
                    <div class="time-completed text"></div>
                    <div class="total-duration text"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/popup.js"></script>

</body>



</html>